[Desktop Entry]
Type=Application
Name=CmisSync
Exec=cmissync start
Icon=folder-cmissync
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Network;
