[Desktop Entry]
Type=Application
Name=DataSpace Sync
Exec=dataspacesync start
Icon=folder-cmissync
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Network;
Name[en_US]=dataspacesync
