*~
*.swp
*.swo
.DS_Store
*.exe
*.exe.mdb
*.userprefs
*.pidb
*.gmo
*.bak
*.suo
*.sln.cache
*.user
*.resources
Makefile.in
Makefile
intltool-*
configure
config.*
aclocal.m4
autom4te.cache/
bin/
obj/
.vs/
install-sh
libtool
ltmain.sh
missing
CmisSync/Linux/cmissync
CmisSync/Linux/dataspacesync
CmisSync/Mac/git
CmisSync.Lib/Defines.cs
CmisSync/Linux/Defines.cs
CmisSync/MacConsole/packages
CmisSync/MacConsole/installer/*.pkg
gnome-doc-utils.make
desktop.ini
_ReSharper.*
*.msi
*.wixobj
*.wixpdb
*.dotCover
CmisSync/TestLibrary/test-servers.json
CmisSync/TestLibrary/test-servers.json_*
CmisSync/TestLibrary/test-servers-disabled.json
CmisSync/TestLibrary/test-servers-fuzzy.json
Extras/log4net-1.2.11/src/log4net.xml
cmissync-*.zip
cmissync-*.tar*
build/cmissync.spec
.project
DataSpaceSync.Console/dsscli
TestResult.xml
Extras/MonoMac.dll
