<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Name='CmisSync' Id='879793ad-13fd-43df-9f3c-ae14fbce7e11' UpgradeCode='4c725498-9d2d-43bf-8966-feeace102830'
    Language='1033' Codepage='1252' Version='0.3.6' Manufacturer='CmisSync'>

    <Package Id='*' Keywords='Installer' Description="CmisSync Setup" Manufacturer='CmisSync'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='SparkleShare.cab' EmbedCab='yes' DiskPrompt='SparkleShare CAB' />
    <Property Id='DiskPrompt' Value="SparkleShare Bundle CAB Installation" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
          <Directory Id='INSTALLDIR' Name='CmisSync'>
            <Component Id='SparkleShare.exe' Guid='bab5a922-b5c4-4958-ab79-5e303b767a61'>
              <File Id='SparkleShare.exe' Name='SparkleShare.exe' Source='!(wix.root)\bin\SparkleShare.exe' KeyPath='yes' DiskId='1' />
            </Component>
            <Component Id='SparkleShareInviteOpener.exe' Guid='f2db20a2-94b9-48d1-8cb9-c88097c2c8ff'>
              <File Id='SparkleShareInviteOpener.exe' Name='SparkleShareInviteOpener.exe' Source='!(wix.root)\bin\SparkleShareInviteOpener.exe' DiskId='1' />
            </Component>
            <Component Id='Libraries' Guid='f982a0bb-824d-4835-921d-e51b47b8598b'>
              <File Id='SparkleLib.Cmis.dll' Name='SparkleLib.Cmis.dll' Source='!(wix.root)\bin\SparkleLib.Cmis.dll' DiskId='1' />
              <File Id='SparkleLib.dll' Name='SparkleLib.dll' Source='!(wix.root)\bin\SparkleLib.dll' DiskId='1' />
              <File Id='DotCMIS.dll' Name='DotCMIS.dll' Source='!(wix.root)\SparkleLib\Cmis\lib\DotCMIS.dll' DiskId='1' />
              <File Id='System.Data.SQLite.dll' Name='System.Data.SQLite.dll' Source='!(wix.root)\SparkleLib\Cmis\lib\System.Data.SQLite.dll' DiskId='1' />
              <File Id='SQLite.Interop.dll' Name='SQLite.Interop.dll' Source='!(wix.root)\SparkleLib\Cmis\lib\SQLite.Interop.dll' DiskId='1' />
              <File Id='Newtonsoft.Json.dll' Name='Newtonsoft.Json.dll' Source='!(wix.root)\SparkleLib\Cmis\lib\Newtonsoft.Json.dll' DiskId='1' />
              <File Id='sparkleshare_app.ico' Name='sparkleshare.ico' Source='!(wix.root)\SparkleShare\Windows\Pixmaps\sparkleshare-app.ico' DiskId='1' />
            </Component>
            <Directory Id='localeDirectoryFR' Name='fr'>
              <Component Id='localeComponentFR' Guid='01612d5d-6c9d-46e9-96c5-7105bbbea7db'>
                <CreateFolder />
                <File Id='localeFileFR' Name='SparkleShare.resources.dll' Source='!(wix.root)\bin\fr\SparkleShare.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            <Directory Id='localeDirectoryJA' Name='ja'>
              <Component Id='localeComponentJA' Guid='8d77c457-54b0-41d6-9f1c-c91338b25505'>
                <CreateFolder />
                <File Id='localeFileJA' Name='SparkleShare.resources.dll' Source='!(wix.root)\bin\ja\SparkleShare.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            <Directory Id='localeDirectoryUK' Name='uk'>
              <Component Id='localeComponentUK' Guid='6de4a765-0904-421b-b71c-8c7bef136a92'>
                <CreateFolder />
                <File Id='localeFileUK' Name='SparkleShare.resources.dll' Source='!(wix.root)\bin\uk\SparkleShare.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            <Directory Id='PLUGINS_DIR' Name='plugins'>
            </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
          <Component Id="ApplicationShortcut" Guid="15cef5f2-2f02-4b60-868a-78cfc35823db">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="CmisSync"
                      Target="[INSTALLDIR]SparkleShare.exe"
                      WorkingDirectory="INSTALLDIR"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\CmisSync" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
      </Directory>
    </Directory>

    <Feature Id='SparkleShareFeature' Title='CmisSync' Description='CmisSync' Level='1' AllowAdvertise='no'>
      <ComponentRef Id="SparkleShare.exe" />
      <ComponentRef Id="SparkleShareInviteOpener.exe" />
      <ComponentRef Id="Libraries" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="localeComponentFR" />
      <ComponentRef Id="localeComponentJA" />
      <ComponentRef Id="localeComponentUK" />
      <ComponentGroupRef Id='pluginsComponentGroup' />
    </Feature>

	<WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
  </Product>
</Wix>
