<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="org.apache.chemistry.dotcmis.binding.spi.type" value="atompub" />
    <add key="org.apache.chemistry.dotcmis.binding.atompub.url" value="http://localhost:8080/alfresco/cmisatom" />

    <!--
    <add key="org.apache.chemistry.dotcmis.binding.spi.type" value="webservices" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.RepositoryService" value="https://localhost:8443/alfresco/cmisws/RepositoryService?wsdl" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.NavigationService" value="https://localhost:8443/alfresco/cmisws/NavigationService?wsdl" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.ObjectService" value="https://localhost:8443/alfresco/cmisws/ObjectService?wsdl" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.VersioningService" value="https://localhost:8443/alfresco/cmisws/VersioningService?wsdl" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.DiscoveryService" value="https://localhost:8443/alfresco/cmisws/DiscoveryService?wsdl" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.RelationshipService" value="https://localhost:8443/alfresco/cmisws/RelationshipService?wsdl" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.MultiFilingService" value="https://localhost:8443/alfresco/cmisws/MultiFilingService?wsdl" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.PolicyService" value="https://localhost:8443/alfresco/cmisws/PolicyService?wsdl" />
    <add key="org.apache.chemistry.dotcmis.binding.webservices.ACLService" value="https://localhost:8443/alfresco/cmisws/ACLService?wsdl" />
    -->
    
    <add key="org.apache.chemistry.dotcmis.user" value="admin" />
    <add key="org.apache.chemistry.dotcmis.password" value="admin" />

    <add key="test.rootfolder" value="/"/>
    <add key="test.documenttype" value="cmis:document"/>
    <add key="test.foldertype" value="cmis:folder"/>
  </appSettings>
</configuration>