<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DiscoveryServicePortBinding" />
                <binding name="MultiFilingServicePortBinding" />
                <binding name="NavigationServicePortBinding" />
                <binding name="ObjectServicePortBinding" />
                <binding name="PolicyServicePortBinding" />
                <binding name="RelationshipServicePortBinding" />
                <binding name="RepositoryServicePortBinding" />
                <binding name="VersioningServicePortBinding" />
                <binding name="ACLServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cmis/services/DiscoveryService.DiscoveryServicePort"
                binding="basicHttpBinding" bindingConfiguration="DiscoveryServicePortBinding"
                contract="CMISWebServicesReference.DiscoveryServicePort" name="DiscoveryServicePort" />
            <endpoint address="http://cmis/services/MultiFilingService.MultiFilingServicePort"
                binding="basicHttpBinding" bindingConfiguration="MultiFilingServicePortBinding"
                contract="CMISWebServicesReference.MultiFilingServicePort"
                name="MultiFilingServicePort" />
            <endpoint address="http://cmis/services/NavigationService.NavigationServicePort"
                binding="basicHttpBinding" bindingConfiguration="NavigationServicePortBinding"
                contract="CMISWebServicesReference.NavigationServicePort"
                name="NavigationServicePort" />
            <endpoint address="http://cmis/services/ObjectService.ObjectServicePort"
                binding="basicHttpBinding" bindingConfiguration="ObjectServicePortBinding"
                contract="CMISWebServicesReference.ObjectServicePort" name="ObjectServicePort" />
            <endpoint address="http://cmis/services/PolicyService.PolicyServicePort"
                binding="basicHttpBinding" bindingConfiguration="PolicyServicePortBinding"
                contract="CMISWebServicesReference.PolicyServicePort" name="PolicyServicePort" />
            <endpoint address="http://cmis/services/RelationshipService.RelationshipServicePort"
                binding="basicHttpBinding" bindingConfiguration="RelationshipServicePortBinding"
                contract="CMISWebServicesReference.RelationshipServicePort"
                name="RelationshipServicePort" />
            <endpoint address="http://cmis/services/RepositoryService.RepositoryServicePort"
                binding="basicHttpBinding" bindingConfiguration="RepositoryServicePortBinding"
                contract="CMISWebServicesReference.RepositoryServicePort"
                name="RepositoryServicePort" />
            <endpoint address="http://cmis/services/VersioningService.VersioningServicePort"
                binding="basicHttpBinding" bindingConfiguration="VersioningServicePortBinding"
                contract="CMISWebServicesReference.VersioningServicePort"
                name="VersioningServicePort" />
            <endpoint address="http://cmis/services/ACLService.ACLServicePort"
                binding="basicHttpBinding" bindingConfiguration="ACLServicePortBinding"
                contract="CMISWebServicesReference.ACLServicePort" name="ACLServicePort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
