<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" >

  <Product Name="Oris4 Sync" Id="C7E5E77C-EC7B-4CF2-8B25-A8A69A8E2A55" UpgradeCode="00CAC8B4-6592-4038-807D-846959F4BD69"
    Language="1033" Codepage="1252" Version="1.0.7" Manufacturer="2nd Act Innovations">

    <Package Id="*" Keywords="Installer" Description="Oris4 Sync Setup" Manufacturer="Oris4Sync"
      InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />

    <!-- Check for .NET 4.5 -->
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="Oris4 Sync requires .NET Framework 4.5. Please install Microsoft .NET Framework 4.5, then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Media Id="1" Cabinet="Oris4Sync.cab" EmbedCab="yes" DiskPrompt="Oris4Sync CAB" />
    <Property Id="DiskPrompt" Value="Oris4Sync Bundle CAB Installation" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
          <Directory Id="INSTALLDIR" Name="Oris4 Sync">
            <Component Id="Oris4Sync.exe" Guid="bab5a922-b5c4-4958-ab79-5e303b767a61">
              <File Id="Oris4Sync.exe" Name="Oris4Sync.exe" Source="!(wix.root)\bin\Oris4Sync.exe" KeyPath="yes" DiskId="1" />
            </Component>
            <Component Id="Oris4Sync.Console.exe" Guid="ee872f29-46a0-469a-82f4-b4047957fd7a">
              <File Id="Oris4Sync.Console.exe" Name="Oris4Sync.Console.exe" Source="!(wix.root)\bin\Oris4Sync.Console.exe" KeyPath="yes" DiskId="1" />
            </Component>
            <Component Id="Libraries" Guid="f982a0bb-824d-4835-921d-e51b47b8598b">
              <File Id="CmisSync.Lib.dll" Name="CmisSync.Lib.dll" Source="!(wix.root)\bin\CmisSync.Lib.dll" DiskId="1" />
              <File Id="DotCMIS.dll" Name="DotCMIS.dll" Source="!(wix.root)\bin\DotCMIS.dll" DiskId="1" />
              <File Id="log4net.dll" Name="log4net.dll" Source="!(wix.root)\bin\log4net.dll" DiskId="1" />
              <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="!(wix.root)\bin\Newtonsoft.Json.dll" DiskId="1" />
              <!--<File Id="SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="!(wix.root)\bin\SQLite.Interop.dll" DiskId="1" />-->
              <File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="!(wix.root)\bin\System.Data.SQLite.dll" DiskId="1" />
              <File Id="cmissync_app.ico" Name="cmissync.ico" Source="!(wix.root)\bin\cmissync-app.ico" DiskId="1" />
            </Component>
            <Directory Id="DIR_x86" Name="x86">
              <Component Id="COMP_x86" Guid="5623a717-035d-45fd-904c-4ed38a3955f1">
                <CreateFolder />
                <File Id="FILE_x86" Name="SQLite.Interop.dll" Source="!(wix.root)\bin\x86\SQLite.Interop.dll" DiskId="1" />
              </Component>
            </Directory>
            <Directory Id="DIR_x64" Name="x64">
              <Component Id="COMP_x64" Guid="378b4152-6ed8-443a-bfb5-109662a9f54e">
                <CreateFolder />
                <File Id="FILE_x64" Name="SQLite.Interop.dll" Source="!(wix.root)\bin\x64\SQLite.Interop.dll" DiskId="1" />
              </Component>
            </Directory>
            <Directory Id="localeDirectoryDE" Name="de">
              <Component Id="localeComponentDE" Guid="2ee0c16c-f4b8-4a8c-8d07-b3a73fc27f59">
                <CreateFolder />
                <File Id="localeFileDE" Name="Oris4Sync.resources.dll" Source="!(wix.root)\bin\de\Oris4Sync.resources.dll" DiskId="1" />
              </Component>
            </Directory>
            <Directory Id="localeDirectoryES" Name="es-ES">
              <Component Id="localeComponentES" Guid="7f2303c0-a119-49d1-be73-17acb9637c76">
                <CreateFolder />
                <File Id="localeFileES" Name="Oris4Sync.resources.dll" Source="!(wix.root)\bin\es-ES\Oris4Sync.resources.dll" DiskId="1" />
              </Component>
            </Directory>
            <Directory Id="localeDirectoryFR" Name="fr">
              <Component Id="localeComponentFR" Guid="01612d5d-6c9d-46e9-96c5-7105bbbea7db">
                <CreateFolder />
                <File Id="localeFileFR" Name="Oris4Sync.resources.dll" Source="!(wix.root)\bin\fr\Oris4Sync.resources.dll" DiskId="1" />
              </Component>
            </Directory>
            <Directory Id="localeDirectoryJA" Name="ja">
              <Component Id="localeComponentJA" Guid="8d77c457-54b0-41d6-9f1c-c91338b25505">
                <CreateFolder />
                <File Id="localeFileJA" Name="Oris4Sync.resources.dll" Source="!(wix.root)\bin\ja\Oris4Sync.resources.dll" DiskId="1" />
              </Component>
            </Directory>
            <Directory Id="localeDirectoryUK" Name="uk">
              <Component Id="localeComponentUK" Guid="6de4a765-0904-421b-b71c-8c7bef136a92">
                <CreateFolder />
                <File Id="localeFileUK" Name="Oris4Sync.resources.dll" Source="!(wix.root)\bin\uk\Oris4Sync.resources.dll" DiskId="1" />
              </Component>
            </Directory>
            <!-- TODO Somehow the following is not generated by Visual C#
            <Directory Id="localeDirectoryTLH" Name="tlh-KX">
              <Component Id="localeComponentTLH" Guid="340e5758-5420-4fe4-a291-5d920a63ca70">
                <CreateFolder />
                <File Id="localeFileTLH" Name="Oris4Sync.resources.dll" Source="!(wix.root)\bin\tlh-KX\Oris4Sync.resources.dll" DiskId="1" />
              </Component>
            </Directory>
            -->
            <Directory Id="PLUGINS_DIR" Name="plugins">
            </Directory>
          </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
          <Component Id="ApplicationShortcut" Guid="15cef5f2-2f02-4b60-868a-78cfc35823db">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="Oris4 Sync"
                      Target="[INSTALLDIR]Oris4Sync.exe"
                      WorkingDirectory="INSTALLDIR"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Oris4Sync" Name="ApplicationShortcut" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
      </Directory>
      
      <Directory Id="AppDataFolder">
        <Directory Id="Oris4AppDataFolder" Name="oris4sync">
          <Component Id="Oris4AppData" DiskId="1" Guid="C75496CB-DF13-42C7-8520-DB4574411B14">
            <RemoveFile Id="CleanDataDirectory" Name="*" On="both"/>
            <RemoveFolder Id="RemoveDataDirectory" On="both"/>
            <RegistryValue Root="HKCU" Key="Software\Oris4Sync" Name="Oris4AppData" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="StartupFolder" Name="Startup">
        <Component Id="StartupMenuItem" Guid="46C6E4A6-74C4-4D1B-AD7E-38F2F92144F6">
          <RemoveFile Id="RemoveStartupItem" Name="Oris4 Sync.lnk" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\Oris4Sync" Name="StartupMenuItem" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>

    <Feature Id="Oris4SyncFeature" Title="Oris4Sync" Description="Oris4Sync" Level="1" AllowAdvertise="no">
      <ComponentRef Id="Oris4Sync.exe" />
      <ComponentRef Id="Oris4Sync.Console.exe" />
      <ComponentRef Id="Libraries" />
      <ComponentRef Id="COMP_x86" />
      <ComponentRef Id="COMP_x64" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="Oris4AppData" />
      <ComponentRef Id="StartupMenuItem" />
      <ComponentRef Id="localeComponentDE" />
      <ComponentRef Id="localeComponentES" />
      <ComponentRef Id="localeComponentFR" />
      <ComponentRef Id="localeComponentJA" />
      <ComponentRef Id="localeComponentUK" />
      <ComponentGroupRef Id="pluginsComponentGroup" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Pixmaps/WixUIBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Pixmaps/WixUIDialog.bmp" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="You can access Oris4 Sync tool by selecting 'Oris4 Sync' from the Windows start menu." />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Oris4 Sync now" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
    <Property Id="WixShellExecTarget" Value="[#Oris4Sync.exe]" />
    
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
    <Icon Id="Oris4Sync.exe_Icon" SourceFile="!(wix.root)\bin\cmissync-app.ico" />
    <Property Id="ARPPRODUCTICON" Value="Oris4Sync.exe_Icon" />
    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A later version of Oris4 Sync is already installed. Setup will now exit." />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again. Download: https://www.microsoft.com/en-us/download/details.aspx?id=17718">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
  </Product>
</Wix>
