<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Name='CmisSync' Id='fb3bdb0a-3977-4477-bc53-c8c28a0ee18d' UpgradeCode='4c725498-9d2d-43bf-8966-feeace102830'
    Language='1033' Codepage='1252' Version='0.4.4' Manufacturer='CmisSync'>

    <Package Id='*' Keywords='Installer' Description="CmisSync Setup" Manufacturer='CmisSync'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='CmisSync.cab' EmbedCab='yes' DiskPrompt='CmisSync CAB' />
    <Property Id='DiskPrompt' Value="CmisSync Bundle CAB Installation" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
          <Directory Id='INSTALLDIR' Name='CmisSync'>
            <Component Id='CmisSync.exe' Guid='bab5a922-b5c4-4958-ab79-5e303b767a61'>
              <File Id='CmisSync.exe' Name='CmisSync.exe' Source='!(wix.root)\CmisSync\Windows\bin\Debug\CmisSync.exe' KeyPath='yes' DiskId='1' />
            </Component>
            <Component Id='Libraries' Guid='f982a0bb-824d-4835-921d-e51b47b8598b'>
              <File Id='CmisSync.Lib.dll' Name='CmisSync.Lib.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\CmisSync.Lib.dll' DiskId='1' />
              <File Id='DotCMIS.dll' Name='DotCMIS.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\DotCMIS.dll' DiskId='1' />
              <File Id='log4net.dll' Name='log4net.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\log4net.dll' DiskId='1' />
              <File Id='Newtonsoft.Json.dll' Name='Newtonsoft.Json.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\Newtonsoft.Json.dll' DiskId='1' />
              <File Id='SQLite.Interop.dll' Name='SQLite.Interop.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\SQLite.Interop.dll' DiskId='1' />
              <File Id='System.Data.SQLite.dll' Name='System.Data.SQLite.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\System.Data.SQLite.dll' DiskId='1' />
              <File Id='sparkleshare_app.ico' Name='sparkleshare.ico' Source='!(wix.root)\CmisSync\Windows\Pixmaps\sparkleshare-app.ico' DiskId='1' />
            </Component>
            <Directory Id='localeDirectoryFR' Name='fr'>
              <Component Id='localeComponentFR' Guid='01612d5d-6c9d-46e9-96c5-7105bbbea7db'>
                <CreateFolder />
                <File Id='localeFileFR' Name='CmisSync.resources.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\fr\CmisSync.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            <Directory Id='localeDirectoryJA' Name='ja'>
              <Component Id='localeComponentJA' Guid='8d77c457-54b0-41d6-9f1c-c91338b25505'>
                <CreateFolder />
                <File Id='localeFileJA' Name='CmisSync.resources.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\ja\CmisSync.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            <Directory Id='localeDirectoryES' Name='es-ES'>
              <Component Id='localeComponentES' Guid='7f2303c0-a119-49d1-be73-17acb9637c76'>
                <CreateFolder />
                <File Id='localeFileES' Name='CmisSync.resources.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\es-ES\CmisSync.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            <Directory Id='localeDirectoryUK' Name='uk'>
              <Component Id='localeComponentUK' Guid='6de4a765-0904-421b-b71c-8c7bef136a92'>
                <CreateFolder />
                <File Id='localeFileUK' Name='CmisSync.resources.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\uk\CmisSync.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            <!-- TODO Somehow the following is not generated by Visual C#
            <Directory Id='localeDirectoryTLH' Name='tlh-AA'>
              <Component Id='localeComponentTLH' Guid='340e5758-5420-4fe4-a291-5d920a63ca70'>
                <CreateFolder />
                <File Id='localeFileTLH' Name='CmisSync.resources.dll' Source='!(wix.root)\CmisSync\Windows\bin\Debug\tlh-AA\CmisSync.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            -->
            <Directory Id='PLUGINS_DIR' Name='plugins'>
            </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
          <Component Id="ApplicationShortcut" Guid="15cef5f2-2f02-4b60-868a-78cfc35823db">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="CmisSync"
                      Target="[INSTALLDIR]CmisSync.exe"
                      WorkingDirectory="INSTALLDIR"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\CmisSync" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
      </Directory>
    </Directory>

    <Feature Id='CmisSyncFeature' Title='CmisSync' Description='CmisSync' Level='1' AllowAdvertise='no'>
      <ComponentRef Id="CmisSync.exe" />
      <ComponentRef Id="Libraries" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="localeComponentFR" />
      <ComponentRef Id="localeComponentJA" />
      <ComponentRef Id="localeComponentES" />
      <ComponentRef Id="localeComponentUK" />
      <ComponentGroupRef Id='pluginsComponentGroup' />
    </Feature>

	<WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
  </Product>
</Wix>
