<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PLUGINS_DIR">
            <!--
            <Component Id="cmp6F194D55F237CCBEBA3EE925608D2E67" Guid="{37CF6E4E-43AB-4FD6-BFEB-99DCE1A9677D}">
                <File Id="fil721ED92DD8E578C9FB3F208B9FF91C02" KeyPath="yes" Source="!(wix.pluginsdir)\alfresco.png" />
            </Component>
            <Component Id="cmp202FAA51E055CC409622D27D24EEE5DA" Guid="{121D89FF-07C4-4892-81DA-2B981688FA1E}">
                <File Id="filCBC7054E996714CD1EA3D71F35E32C30" KeyPath="yes" Source="!(wix.pluginsdir)\alfresco.xml" />
            </Component>
            <Component Id="cmp7C32A5081019A9BF4B209520EA00A676" Guid="{A8B23182-FA6B-4B12-BE8E-05F9EAA2D664}">
                <File Id="fil8A9C4FD541CBD066D080EEF42DA32670" KeyPath="yes" Source="!(wix.pluginsdir)\filenet.png" />
            </Component>
            <Component Id="cmpB7B092CB3549BE7D973F983830E2EB9F" Guid="{4880E1BF-F12F-48A9-8939-845608A76C02}">
                <File Id="fil6A33990AAD3DB171122E1E20E30C58AA" KeyPath="yes" Source="!(wix.pluginsdir)\filenet.xml" />
            </Component>
            <Component Id="cmpD80A5D1ECC95589794764103AE49709E" Guid="{5EF26A4F-AA3F-47FD-BB30-F570535FC089}">
                <File Id="fil8B6F44604BD4D76A8EF91869B97EE57B" KeyPath="yes" Source="!(wix.pluginsdir)\nemakiware.png" />
            </Component>
            <Component Id="cmp595166B31DDF0EE1129F65A41A461C9D" Guid="{EF1ABDCF-CBDB-436C-865F-8295103BF802}">
                <File Id="filA24E2D4BDD6AB06897F124467CBA2AD2" KeyPath="yes" Source="!(wix.pluginsdir)\nemakiware.xml" />
            </Component>
            <Component Id="cmpE3AC3EC3B548BF155C7FACE7BB960552" Guid="{2C0CA0F5-A01B-45ED-AB8A-5896DC974FF7}">
                <File Id="fil8BDA7B415FE365BE451460287F725A37" KeyPath="yes" Source="!(wix.pluginsdir)\own-server.png" />
            </Component>
            <Component Id="cmp7885EA7BA888AD18ADB34C8C5F265B4D" Guid="{B9AFA712-F17C-40E8-B7A7-699CA9FF67A0}">
                <File Id="filC97982D93E2D3344080D55FC29F4BBC3" KeyPath="yes" Source="!(wix.pluginsdir)\own-server.xml" />
            </Component>
            -->
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="pluginsComponentGroup">
            <!--
            <ComponentRef Id="cmp6F194D55F237CCBEBA3EE925608D2E67" />
            <ComponentRef Id="cmp202FAA51E055CC409622D27D24EEE5DA" />
            <ComponentRef Id="cmp7C32A5081019A9BF4B209520EA00A676" />
            <ComponentRef Id="cmpB7B092CB3549BE7D973F983830E2EB9F" />
            <ComponentRef Id="cmpD80A5D1ECC95589794764103AE49709E" />
            <ComponentRef Id="cmp595166B31DDF0EE1129F65A41A461C9D" />
            <ComponentRef Id="cmpE3AC3EC3B548BF155C7FACE7BB960552" />
            <ComponentRef Id="cmp7885EA7BA888AD18ADB34C8C5F265B4D" />
            -->
        </ComponentGroup>
    </Fragment>
</Wix>